/*general CSS rules for page*/

html {
  height: 100%;
  background-color: f4f4f8;
  background-image: linear-gradient(#e6fffc, #ccfff9, #b3fff6, #99fff3);
  margin: 0px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family:'Bebas Neue', cursive ;
  font-size: 3em;
  color: #8274c4;
  text-shadow: 0.5px 0.5px gray;
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  color: #6cc6bd;
  font-size: 1.75em;
  letter-spacing: 0.05em;
}