/*general CSS rules for page*/

html {
  background-color: f4f4f8;
  margin: 20px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family:'Bebas Neue', cursive ;
  font-size: 3em;
  color: #8274c4;
  text-shadow: 0.5px 0.5px gray;
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  color: #6cc6bd;
  font-size: 1.75em;
  letter-spacing: 0.05em;
}